body {
  background-color: #545454;
  overflow: hidden;
}

.main {
    height: 100%;
    position: absolute;
}

.search {
  height: 35px;
  display: table;
  margin: 0 auto;
  padding-top: 250px;
  overflow: hidden;
}

.ddg_search {
  overflow: hidden;
  margin: 0;
  padding: 0px 0px 0px 10px;
  width: 408px;
  height: 40px;
  border-radius: 0px;
  background-color: #2d2d2d;
  color: white;
  border-color: #353535;
}

.ddg_search_button {
  float: right;
  height: 44px;
  width: 43px;
  border: 0;
  background-color: #353535;
  transition: background-color 0.1s;
  cursor: pointer;
  color: white;
}

.ddg_search_button svg {
  fill: white;
  height: 15px;
  width: 15px;
}

.ddg_search_button:hover {
  background-color: #1a1919;
}
